@import "variables";
@import "materialize";
@import "nav";
@import "footer";
@import "slider";
@import "dropzone";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: @body;
}

main {
	flex: 1 0 auto;
}
  
.normal {
	font-weight: bold;
}

.primary {
	background-color: @primary!important;
}

.primary-text {
	color: @primary!important;
}

.secondary {
	background-color: @secondary!important;
}

.secondary-text {
	color: @secondary!important;
}

.dark-green-text {
    color: #06351e;
    font-weight: 500;
    font-size: 13px;
}

.dark-green-btn {
    background-color: #13462d;
}

.dark-green-btn:hover {
    background-color: #06351e;
}

.poppins {
    font-family: 'Poppins', sans-serif!important;
}

.auth {
    margin: 50px 0;
    padding: 50px;
}

.services-card-content {
    min-height: 300px;
}

p {
    margin: 30px 0;
    line-height: 30px;
    font-size: 16px;
}

iframe {
    pointer-events: none;
}

section {
    padding: 80px 0;
}

h1 {
	color: #202a30;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;    
    margin-top: 50px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

.services-card-title {
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

.services-card-content {
    height: 300px;
}

.parallax-container {
    height: 400px;
}

.valign-wrapper {
    background-color: rgba(0,0,0,0.75);
}

.card-title {
    font-size: 20px;
}

.divider {
    height: 2px;
    overflow: hidden;
    background-color: #d5d8da;
    margin-top: 40px;
}

.contact-form {
    padding: 20px 60px 0px 20px;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1b5e20;
    box-shadow: 0 1px 0 0 #1b5e20;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #1b5e20;
    box-shadow: 0 1px 0 0 #1b5e20;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #1b5e20;
}

.parallax img {
    width: 100%;
}

.project-info-button {
	height: 40px;
    line-height: 50px;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid #022313;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid #022313;
}

.table-of-contents a:hover {
    color: #a8a8a8;
    padding-left: 19px;
    border-left: 1px solid #022313;
}

#admin .card {
    padding: 50px;
}

.gallery-image {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.breadcrumb-overlay {
    width: 100%;
}

.breadcrumb-container {
    height: 200px;
}

.breadcrumb-container h5 {
    font-size: 42px;
}

.content-list li {
    list-style-type: circle;
    margin-left: 20px;
    font-size: 16px;
    line-height: 30px;
}

.content-list {
    margin-bottom: 50px;
}

.main-navigation {
    display: block;
}

.testimonial-text {
    font-size: 20px;
    line-height: 32px;
}

#maintenance-gallery, #landscaping-gallery, #tree-gallery, #corporate-gallery, #design-gallery, #pimp-gallery {
    padding: 30px;
}

.admin-gallery-image {
    width:25%;
    padding:6px;
    display: inline-block;

    img {
        width:100%;
    }
}

.delete-gallery-image {
    position: relative;
    top: -30px;
    float: right;
}

@media (max-width: 1800px) and (min-width: 1501px) {
    nav.secondary ul li a {
        font-size: 12px;
        padding: 0px 10px;
    }
}

@media (max-width: 1500px) and (min-width: 1200px) {
    nav.secondary ul li a {
        font-size: 10px;
        padding: 0px 6px;
    }
}

@media (max-width: 1200px) {

    .slider .slides li .caption {
        color: #fff;
        position: absolute;
        top: 15%;
        left: 5%;
        width: 90%;
        opacity: 0;
    }

    nav.primary ul li a {
        height: 100px;
        line-height: 100px;
        padding: 0 15px;
        font-weight: 300;
        font-size: 12px;

        i {
            font-size:20px;
            margin-right:5px;
        }

    }

    .primary .button-collapse {
        display: none;
    }

    .secondary .button-collapse {
        display: block!important;
    }

    .main-navigation {
        display: none!important;
    }

    .side-nav a {
        padding: 0px 25px;
        height: 64px;
        line-height: 64px;
    }

    nav.secondary ul li.active a {
        border-bottom:0!important;
        background-color: rgba(0, 0, 0, 0.05);
    }

}

@media (max-width: 600px) {

    .slider .slides li .caption {
        color: #fff;
        position: absolute;
        top: 30px;
        left: 0;
        width: 90%;
        right: 0;
        max-width: 90%;
    }

    .slider, .slider .slides {
        height: 700px!important;
    }

    h1 {
        margin-top: 0!important;
    }

}

@media (min-width: 600px) {
    section.page {
        padding-top:20px!important;
    }
    h1 {
        margin-bottom: 50px;
    }
}
