footer {
	background-color: @footer;
    padding-top: 75px;

    .footer-copyright {
	    background-color: #fff;
	    padding: 20px 0;
	    margin-top: 75px;
	    font-size: 14px;
	}

	h5 {
	    padding-bottom: 15px;
	    border-bottom: 2px solid #fff;
	    display: inline;
	}

	a {
	    font-size: 14px;
	    line-height: 30px;
	}

	ul {
		margin-top: 40px;
	}

}