nav {

	&.primary {
    	height: 100px;

    	.brand-logo {

			img {
			    height: 60px;
			    margin: 20px 0;
			}

		} 

		ul {

			li {

				a {

					height:100px;
					line-height: 100px;
					padding: 0 25px;
					font-weight: 300;
					font-size: 15px;

					i {
						height:100px;
						line-height:100px;
					    font-size: 25px;
					    margin-right: 10px;
						
						&.admin {
							margin-right:0;
						}
						
					}

				}

			}

		}

	}

	&.secondary {

		ul {

			li {

				&.active {
					background-color: transparent;

					a {
					    border-bottom: 2px solid #022313;
					    height: 64px;
					    line-height: 64px;
					    color: #022313;
					}

				}

			}

		}

		

	}

}