.caption {
    padding-left: 40px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

.green-slider-button {
    font-size: 14px;
    font-weight: 400!important;
    margin-right:10px;
}

.white-slider-button {
    font-size: 14px;
    font-weight: 500!important;
    color: #13462d;
}

.slider {
    height: 500px!important;
}

.slider h5 {
    font-size: 16px;
    line-height: 40px;
    font-family: Poppins;
    color: #f4f4f4;
}

.slider .indicators {
    bottom: 25px;
    z-index: 9999;

    .indicator-item {
        background-color: #fff;

        .active {
            background-color: #13462d;
        }
        
    }

}
